#comments .media {
    background-image: url("../images/comment.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
    width: 105.5%;
    margin-left: -15px;
    position: relative;
}

#comments .nested {
    background-image: url("../images/comment.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
    width: 89%;
    margin-left: 14%;
    margin-top: -15px;
    position: relative;
}

#comments .media img {
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    width: 90px;
    height: 90px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#comments .media h3 {
    display: inline-block;
    margin-left: -15px;
    margin-top: 30px;
    position: absolute;
    color: #1d1d1d;
}

#comments .media p {
    display: inline-block;
    position: absolute;
    margin-right: 40px;
    margin-left: -15px;
    margin-top: 70px;
    color: #929292;
}

#comments .nested .nested-p {
    position: absolute;
    margin-right: 40px;
    color: #929292;
}

#comments .media .text-right {
    position: relative;
    float: right;
    margin-top: 25px;
    margin-right: 30px;
    color: #d4d4d4;
}

#comments .comment-question {
    position: absolute;
    bottom: 50px;
    right: 43px;
    padding: 7px 7px;
    border-radius: 5px;
    text-decoration: none;
    color: #1d1d1d;
    border: 1px solid #ADADAD;
}

#comments .comment-answer {
    position: absolute;
    bottom: 50px;
    right: 39px;
    padding: 7px 7px;
    border-radius: 5px;
    text-decoration: none;
    color: #1d1d1d;
    border: 1px solid #ADADAD;
}

#comments .comment-question:hover {
    background-color: #E6E6E6;
    color: orangered;
}

#comments .comment-answer:hover {
    background-color: #E6E6E6;
    color: orangered;
}

#comment-reply {
    position: relative;
    height: 410px;
}

#comment-reply .row h1 {
    width: 92%;
    margin-left: 2%;
    color: #1d1d1d;
}

#comment-reply fieldset #name {
    position: absolute;
    left: 2%;
    top: 0;
    width: 45%;
    height: 40px;
    border: 1px solid #f0f0f0;
    padding-left: 23px;
    background-image: url("../images/input-bg.png");
    background-repeat: repeat-x;
}

#comment-reply fieldset #email {
    position: absolute;
    left: 2%;
    top: 60px;
    width: 45%;
    height: 40px;
    border: 1px solid #f0f0f0;
    padding-left: 23px;
    background-image: url("../images/input-bg.png");
    background-repeat: repeat-x;
}

#comment-reply fieldset #description {
    position: absolute;
    top: 120px;
    left: 14px;
    border: 1px solid #f0f0f0;
    padding-top: 13px;
    padding-left: 23px;
    width: 96.5%;
    height: 170px;
    background-image: url("../images/textare-bg.png");
    background-repeat: repeat-x;
}

#comment-reply fieldset button {
    position: absolute;
    width: 89px;
    height: 38px;
    top: 300px;
    left: 86%;
    color: #2c2c2c;
}


/*#comments .media .nested {
    margin-left: -20px;
}*/


/*media queries*/

@media screen and (max-width: 2560px) {
    #comments .nested {
        margin-left: 15%;
    }
    #comment-reply fieldset button {
        width: 200px;
        left: 85.7%;
    }
    .post-content #read-less {
        width: 200px;
    }
    #comment-reply fieldset #description {
        width: 97.5%;
        left: 29px;
    }
}

@media screen and (max-width: 1440px) {
    #comments .nested {
        margin-left: 14.5%;
    }
    #comment-reply fieldset button {
        width: 150px;
        margin-left: -45px;
    }
    .post-content #read-less {
        width: 150px;
    }
    #comment-reply fieldset #description {
        width: 97.5%;
        left: 14px;
    }
}

@media screen and (max-width: 1024px) {
    #comments .nested {
        margin-left: 14%;
    }
    #comment-reply fieldset button {
        width: 90px;
        margin-left: -20px;
    }
    .post-content #read-less {
        width: 90px;
    }
    #comment-reply fieldset #description {
        width: 97.5%;
        left: 12px;
    }
}

@media screen and (max-width: 768px) {
    #comments .nested {
        margin-left: 13.5%;
    }
    #comment-reply fieldset button {
        margin-left: -43px;
    }
    #comment-reply fieldset #description {
        width: 97.5%;
        left: 10px;
    }
    #comments .nested #nested-author {
        margin-top: 12px;
    }
}

@media screen and (max-width: 425px) {
    #comments .media {
        margin-left: -15%;
        min-height: 300px;
        height: auto;
        width: 130%;
    }
    #comments .media h3 {
        margin-top: 80px;
    }
    #comments .nested {
        margin-left: -10%;
        width: 125%;
    }
    #comment-reply fieldset button {
        margin-left: -240px;
    }
    #read-less {
        margin-top: -40px;
        height: 38px;
    }
    #comment-reply fieldset #description {
        width: 97.5%;
        left: 10px;
    }
    #comments .media #nested-author1 {
        font-size: 1.2em;
        margin-top: 32px;
    }
    #comments .nested #nested-author2 {
        margin-top: 32px;
        font-size: 1.2em;
        margin-left: 0;
        width: 180px;
    }
    #comments .nested-p-mobile {
        top: 60px;
        left: 45px;
        width: 88%;
        height: auto;
    }
    #comment-reply {
        left: -20px;
    }
    #comment-reply fieldset #name {
        width: 98%;
    }
    #comment-reply fieldset #email {
        width: 98%;
    }
    #comment-reply fieldset #description {
        left: 8px;
        width: 98%;
    }
    #comment-reply fieldset button {
        width: 63%;
        left: 72%;
    }
    #category-title {
        margin-top: -20px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 375px) {
    #comment-reply fieldset #name {
        width: 108%;
    }
    #comment-reply fieldset #email {
        width: 108%;
    }
    #comment-reply fieldset #description {
        left: 8px;
        width: 108%;
    }
    #comment-reply fieldset button {
        width: 53%;
        left: 85%;
    }
    #read-less {
        margin-top: -40px;
        height: 38px;
        margin-right: -25px;
    }
}

@media screen and (max-width: 320px) {
    #comment-reply fieldset button {
        width: 53%;
        left: 104%;
    }
    #read-less {
        margin-right: -20px;
    }
}


/*media queries*/