body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg-color.jpg');
}


/*header-bar*/

#header-bar {
    background-color: white;
}

#nav-menu li:hover a {
    color: orangered;
    transform: scale(1.3);
}


/*header-bar*/


/*search-box*/

#search-box {
    margin: 0;
    padding: 0;
    margin-right: -15px;
    /*border: 1px solid black;*/
}

.stylish-input-group .input-group-addon {
    background-color: #f6f6f6;
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0 0 0;
}

.stylish-input-group .form-control {
    background-color: #f6f6f6;
    box-shadow: 0 0 0;
    border: none;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-radius: 0 0 0;
}

.stylish-input-group button {
    border: none;
    background: transparent;
}

.fa {
    background: lightgrey;
    color: white;
    border-radius: 5px;
}

.fa:hover {
    color: dodgerblue;
    transform: scale(1.3);
}

#social-icons {
    margin-right: 20px;
    margin-top: 10px;
    float: right;
}


/*search-box*/


/*image*/

.logo {
    margin-top: 10%;
    margin-left: 10%;
}


/*image*/


/*media queries*/

@media screen and (max-width: 767px) {
    .logo {
        margin-top: -7px;
        margin-left: -7px;
    }
    #search-box {
        margin: 0;
        padding: 0;
    }
    #social-icons {
        float: left;
        margin-left: 25%;
    }
    .fa {
        margin-left: 20px;
        background-color: dodgerblue;
    }
    #nav-menu li {
        text-align: center;
        border-top: 1px solid lightgrey;
    }
    #nav-menu li:hover {
        background-color: darkgray;
    }
}


/*media queries*/