body {
  margin: 0;
  padding: 0;
  background-image: url("../images/bg-color.jpg"); }

/*header-bar*/
#header-bar {
  background-color: white; }

#nav-menu li {
  color: #393939;
  font-size: 15px; }

#nav-menu li:hover a {
  color: orangered;
  transform: scale(1.3); }

#nav-menu .footer-for-mobile {
  display: none; }

/*header-bar*/
/*search-box*/
#search-box {
  margin: 0;
  padding: 0;
  margin-right: -15px;
  /*border: 1px solid black;*/ }

.stylish-input-group .input-group-addon {
  background-color: #f6f6f6;
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0 0 0; }

.stylish-input-group .form-control {
  background-color: #f6f6f6;
  box-shadow: 0 0 0;
  border: none;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-radius: 0 0 0; }

.stylish-input-group button {
  border: none;
  background: transparent; }

.fa {
  background: lightgrey;
  color: white;
  border-radius: 5px; }
  .fa:hover {
    color: dodgerblue;
    transform: scale(1.3); }

#social-icons {
  margin-right: 20px;
  margin-top: 10px;
  float: right; }

/*carousel*/
.carousel {
  margin-top: 7px;
  bottom: 19px; }

/* Carousel Styles */
#indicators {
  width: 98.65%;
  left: 30.7%;
  bottom: -66px;
  height: 56px;
  background-color: white; }
  #indicators li {
    background-color: grey;
    margin-top: 22px;
    border: 2px solid grey; }
  #indicators .active {
    background-color: black; }

.carousel-indicators .active {
  background-color: black; }

.carousel-inner img {
  width: 100%;
  max-height: 332px; }

.carousel-inner a:hover h6 {
  color: orangered; }

.carousel-control {
  width: 0; }
  .carousel-control .left {
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none; }
  .carousel-control .right {
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none; }

#prev {
  margin-top: 70px;
  margin-left: -137px; }

#next {
  margin-top: 59px;
  margin-left: -164px; }

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 44px;
  left: 58%;
  width: 417px;
  height: 237px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20; }
  .header-text h2 {
    font-size: 20px; }
    .header-text h2 span {
      padding: 10px; }
  .header-text h6 {
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 330px;
    width: 86px;
    height: 26px;
    padding-top: 7px;
    padding-left: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 30; }

/*carousel*/
/*search-box*/
/*image*/
.logo {
  margin-top: 10%;
  margin-left: 5%; }

/*image*/
/*home-page*/
.home-page {
  left: 5%;
  width: 90.2%;
  background: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .home-page h1 {
    font-size: 28px;
    color: #1d1d1d; }
  .home-page h5 {
    font-size: 20px;
    color: #929292; }
  .home-page hr {
    color: #f0f0f0; }
  .home-page .panel {
    border-radius: 0px;
    border-color: #d4d4d4;
    -webkit-box-shadow: 0px 0px 2px 2px #f0f0f0;
    -moz-box-shadow: 0px 0px 2px 2px #f0f0f0;
    box-shadow: 0px 0px 2px 2px #f0f0f0; }
    .home-page .panel .panel-body {
      padding: 5px; }
  .home-page .recent-post {
    margin: 25px; }
    .home-page .recent-post h3,
    .home-page .recent-post p {
      padding-left: 6px; }
  .home-page .blog-media-bar li {
    margin-left: 15px; }
    .home-page .blog-media-bar li a {
      color: #929292; }
    .home-page .blog-media-bar li:hover a {
      text-decoration: none;
      color: orangered; }

/*home-page*/
/* tooltip-wrap */
/* tooltip-wrap */
/*media carousel */
.media-bar {
  padding-left: 30px; }
  .media-bar #media {
    width: 95%;
    padding-left: 50px;
    padding-right: 50px; }
    .media-bar #media #media-prev,
    .media-bar #media #media-next {
      width: 40px;
      height: 40px;
      margin-left: -20px;
      margin-top: 20px; }

.media-carousel {
  height: auto;
  padding-top: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 5px; }

/*Media end carousel */
/*Footer*/
#footer {
  background-color: #f9f9f9;
  width: 90.15%;
  margin-left: 4.9%;
  padding-top: 25px;
  padding-bottom: 25px; }
  #footer .footer-logo img {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: -6px;
    margin-left: -15px; }
  #footer .footer-logo h6 {
    width: 180px;
    clear: both;
    display: block; }

#footer-reserved-creator {
  display: none;
  text-align: center;
  background-color: #f9f9f9;
  width: 92.5%;
  margin-left: 3.64%;
  padding-top: 10px;
  padding-bottom: 10px; }

/*Footer*/
/*media queries*/
@media screen and (max-width: 2560px) {
  .header-text {
    width: 877px; }
    .header-text h6 {
      left: 790px; }
  #header-bar-nav {
    width: 91.75%; }
  .media-bar #media #media-prev,
  .media-bar #media #media-next {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: 70px; } }

@media screen and (max-width: 1440px) {
  .header-text {
    position: absolute;
    top: 34px;
    left: 58%;
    width: 477px;
    height: 257px; }
    .header-text h6 {
      top: 220px;
      left: 390px;
      width: 86px;
      height: 26px; }
  #header-bar-nav {
    width: 92.50%; }
  .media-bar #media #media-prev,
  .media-bar #media #media-next {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: 40px; }
  #footer {
    padding-bottom: 25px; }
    #footer .container {
      margin-left: 40px;
      width: 95%; }
      #footer .container .footer-logo img {
        margin-top: -12px;
        width: 180px; }
      #footer .container .footer-logo h6 {
        width: 200px;
        font-size: 15px; }
      #footer .container .footer-element {
        margin: 0;
        padding: 0;
        width: 240px;
        margin-left: 45px;
        margin-top: -10px; }
        #footer .container .footer-element ul {
          padding: 20px;
          margin-top: -25px; }
          #footer .container .footer-element ul li {
            width: 210px; }
      #footer .container .first-footer-element {
        margin-left: 60px; }
    #footer .footer-reserved {
      padding-right: 50px; } }

@media screen and (max-width: 1280px) {
  .media-bar #media #media-prev,
  .media-bar #media #media-next {
    margin-top: 25px; }
  .header-text {
    position: absolute;
    top: 34px;
    left: 56%;
    width: 437px;
    height: 257px; }
    .header-text h6 {
      top: 220px;
      left: 350px;
      width: 86px;
      height: 26px; }
  #header-bar-nav {
    width: 92.65%; }
  #footer .container .footer-element {
    width: 230px;
    margin-left: 35px; }
    #footer .container .footer-element ul li {
      width: 200px; }
  #footer .container .first-footer-element {
    margin-left: 30px; } }

@media screen and (max-width: 1024px) {
  .header-text {
    top: 48px;
    left: 52%;
    width: 400px;
    height: 237px; }
    .header-text h6 {
      top: 200px;
      left: 314px;
      width: 86px;
      height: 26px; }
  #header-bar-nav {
    width: 94.50%; }
  .home-page {
    width: 91.45%; }
  .media-bar {
    width: 65%; }
    .media-bar #media {
      padding-left: 60px;
      width: 95%; }
      .media-bar #media .media-bar-img-div {
        padding-left: 0px;
        margin: 0px; }
      .media-bar #media #media-prev,
      .media-bar #media #media-next {
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: 20px; }
  #footer {
    width: 91.5%;
    margin-left: 4.25%; }
    #footer .container {
      margin-left: 30px; }
      #footer .container .footer-logo img {
        margin-top: -12px;
        margin-left: -22px; }
      #footer .container .footer-element {
        width: 200px;
        margin-left: 15px; }
      #footer .container .first-footer-element {
        margin-left: 30px; }
    #footer .footer-reserved {
      padding-right: 40px; } }

@media screen and (max-width: 768px) {
  #indicators {
    width: 98.1%;
    left: 30.9%; }
  .header-text {
    top: 48px;
    left: 52%;
    width: 300px;
    height: 237px; }
    .header-text h6 {
      top: 180px;
      left: 214px;
      width: 86px;
      height: 26px; }
  #prev {
    margin-top: 40px;
    margin-left: -136px; }
  #next {
    margin-top: 29px;
    margin-left: -165px; }
  #header-bar-nav {
    width: 98%; }
  .home-page {
    width: 93.5%; }
  .blog-media-bar .from-the-blog {
    width: 97%;
    margin-left: 12px;
    padding: 0; }
    .blog-media-bar .from-the-blog ul li {
      font-size: 15px; }
    .blog-media-bar .from-the-blog ul div {
      float: left; }
    .blog-media-bar .from-the-blog ul .clearfix-div {
      padding-left: 50px; }
  .media-bar {
    clear: both;
    margin-top: 10px;
    width: 97%;
    margin-left: 20px; }
    .media-bar #media {
      padding-left: 60px;
      width: 95%; }
      .media-bar #media .media-bar-img-div {
        padding-left: 0px;
        margin: 0px; }
      .media-bar #media #media-prev,
      .media-bar #media #media-next {
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: 30px; }
  #footer {
    width: 93.5%;
    margin-left: 3.25%; }
    #footer .container {
      margin-left: 20px; }
      #footer .container .footer-logo img {
        margin-top: -12px;
        margin-left: -22px;
        width: 150px; }
      #footer .container .footer-logo h6 {
        width: 170px;
        font-size: 12px; }
      #footer .container .footer-element {
        width: 150px;
        margin-left: 0px;
        margin-top: -10px; }
        #footer .container .footer-element h3 {
          font-size: 18px; }
        #footer .container .footer-element ul {
          padding: 10px;
          margin-top: -5px; }
          #footer .container .footer-element ul li {
            width: 150px;
            font-size: 14px; }
      #footer .container .first-footer-element {
        margin-left: 0px; }
    #footer .footer-reserved {
      padding-right: 30px; }
  .logo {
    margin-top: 10%;
    margin-left: 10%;
    width: 140px; } }

@media screen and (max-width: 767px) {
  #indicators {
    width: 98.02%;
    left: 31%; }
  .logo {
    margin-top: -7px;
    margin-left: -7px; }
  #search-box {
    margin: 0;
    padding: 0; }
  #social-icons {
    margin-right: 42%; }
  .fa {
    margin-left: 20px;
    background-color: dodgerblue; }
  #nav-menu li {
    text-align: center;
    color: #393939;
    font-size: 15px;
    border-top: 1px solid lightgrey; }
    #nav-menu li:hover {
      background-color: darkgray; }
  #next,
  #prev {
    opacity: 0; } }

@media screen and (max-width: 425px) {
  .logo {
    width: 130px; }
  #social-icons {
    margin-right: 35%; }
  #prev {
    margin-top: 20px;
    margin-left: -129px; }
  #next {
    margin-top: 9px;
    margin-left: -172px; }
  #indicators {
    width: 96.6%;
    left: 31.8%;
    height: 30px;
    bottom: -47px; }
    #indicators li {
      margin-top: 11px; }
  #header-bar-nav {
    width: 100%; }
  .home-page {
    width: 92.5%; }
  .blog-media-bar .from-the-blog {
    width: 97%;
    margin-left: -12px;
    padding: 0; }
    .blog-media-bar .from-the-blog ul li {
      font-size: 15px; }
    .blog-media-bar .from-the-blog ul div {
      float: left; }
    .blog-media-bar .from-the-blog ul .clearfix-div {
      padding-left: 40px; }
  .media-bar {
    clear: both;
    top: 12px;
    width: 100%; }
    .media-bar h3 {
      margin-left: -22px; }
    .media-bar #media {
      width: 100%;
      left: -30px;
      margin: 0;
      padding: 0;
      padding-left: 16px;
      padding-top: 5px; }
      .media-bar #media .media-bar-img-div {
        padding: 0px;
        margin: 0px;
        padding-right: 10px;
        margin-bottom: 5px;
        float: left; }
        .media-bar #media .media-bar-img-div a {
          margin: 0;
          padding: 0; }
          .media-bar #media .media-bar-img-div a img {
            margin: 0;
            padding: 0; }
      .media-bar #media #media-prev,
      .media-bar #media #media-next {
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: 220px; }
  .recent-post {
    width: 100%;
    padding: 0; }
    .recent-post > div {
      left: -25px;
      width: 100%; }
  #footer {
    display: none; }
  #footer-reserved-creator {
    display: block; }
  #nav-menu .footer-for-mobile {
    display: block; }
    #nav-menu .footer-for-mobile ul li:hover a {
      color: orangered; }
    #nav-menu .footer-for-mobile ul li a {
      background-color: white;
      border-top: 1px solid lightgrey;
      color: #6e6e6e;
      font-size: 12px;
      font-weight: normal; } }

@media screen and (max-width: 375px) {
  #prev {
    margin-top: 0px;
    margin-left: -129px; }
  #next {
    margin-top: -19px;
    margin-left: -172px; }
  #indicators {
    width: 96%;
    left: 32%;
    height: 30px;
    bottom: -47px; }
    #indicators li {
      margin-top: 11px; }
  .home-page {
    width: 91.5%; }
    .home-page h1 {
      font-size: 24px; }
    .home-page h5 {
      font-size: 16px; }
  .blog-media-bar .from-the-blog {
    width: 97%;
    margin-left: 0px;
    padding: 0; }
    .blog-media-bar .from-the-blog ul li span {
      font-size: 18px; }
    .blog-media-bar .from-the-blog ul div {
      clear: both; }
    .blog-media-bar .from-the-blog ul .clearfix-div {
      padding: 0; }
  .media-bar h3 {
    margin-left: -13px; }
  .media-bar #media .media-bar-img-div a img {
    margin: 0;
    padding: 0;
    width: 80px;
    height: auto; }
  .media-bar #media #media-prev,
  .media-bar #media #media-next {
    width: 40px;
    height: 40px;
    margin-left: -15px;
    margin-top: 70px; }
  .media-bar #media #media-prev {
    margin-left: -23px; }
  #footer-reserved-creator {
    width: 91.5%;
    margin-left: 4.14%; } }

@media screen and (max-width: 320px) {
  #social-icons {
    margin-right: 30%; }
  #indicators {
    width: 95%;
    left: 32.5%;
    height: 30px;
    bottom: -47px; }
    #indicators li {
      margin-top: 11px; }
  .home-page {
    width: 90%; }
  .media-bar #media .media-bar-img-div a img {
    width: 98px; }
  .media-bar #media #media-prev,
  .media-bar #media #media-next {
    margin-top: 140px; }
  #footer-reserved-creator {
    width: 90.5%;
    margin-left: 4.64%; } }

/*media queries*/
