.profile {
    width: 92.8%;
    margin-left: 3.75%
}

#profile-info {
    border-radius: 0 0 0;
    width: 99.7%;
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
    margin-bottom: -10px;
}

@media screen and (max-width: 2560px) {
    .profile {
        width: 91.8%;
        margin-left: 4.2%
    }
}

@media screen and (max-width: 1440px) {
    .profile {
        width: 92.6%;
        margin-left: 3.8%
    }
}

@media screen and (max-width: 1024px) {
    .profile {
        width: 94.6%;
        margin-left: 2.8%
    }
}

@media screen and (max-width: 768px) {
    .profile {
        width: 97.9%;
        margin-left: 1.2%
    }
}

@media screen and (max-width: 425px) {
    .profile {
        width: 99.8%;
        margin-left: 0.3%
    }
}

@media screen and (max-width: px) {}

@media screen and (max-width: px) {}

@media screen and (max-width: px) {}