<div class="container about-us">
    <div class="row">
        <div id="first-div" class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
            <img src="https://cdn.pbrd.co/images/4J17gFmVy.jpg" alt="logo-about-us" class="about-us-img img-responsive center-block">
            <h2 class="about-us-h2 kreonLight"><strong class="georgiaItalic">Amazing Sales</strong> is the BG’s premier snowboarding website. It combines incredible products
                from the most sold gadjets in the industry with in-depth blog articles that get you amped. We strive to be
                as entertaining and informative as possible for all types of snowboarder – from trick tips and backcountry
                advice to far flung travel features and high profile interviews. <strong class="georgiaItalic">Amazing Sales</strong>                is aimed simply at fellow riders – not a clique – offering a unique BG perspective on the whole world of
                snowboarding.</h2>
        </div>
    </div>
</div>