<div class="container blog-page">
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
    </ol>
    <div class="row post-content">
        <section class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
            <h2>All Topic</h2>
            <hr>
            <ul class="blog-posts">
                <li>
                    <h3>
                        <a href="#/blog/threads">Snowboard Tricks for Begginers.</a>
                    </h3>
                    <div class="blog-post-details">
                        <img src="./images/johnDoe.jpg" alt="jon-doe" width="52" height="52"> <span class="blog-post-author">Posted by <a href="" class="posted-by">Admin</a>
                            <date> on March 13, 2017 </date> | 30 Comments</span>
                    </div>
                    <hr>
                </li>
                <li>
                    <h3>
                        <a href="#/blog/threads">How To Pick The Right Equipment.</a>
                    </h3>
                    <div class="blog-post-details">
                        <img src="./images/johnDoe.jpg" alt="jon-doe" width="52" height="52"> <span class="blog-post-author">Posted by <a href="" class="posted-by">Admin</a>
                            <date> on March 13, 2017 </date> | 30 Comments</span>
                    </div>
                    <hr>
                </li>
                <li>
                    <h3>
                        <a href="#/blog/threads">Snowboard Tricks for Advance.</a>
                    </h3>
                    <div class="blog-post-details">
                        <img src="./images/johnDoe.jpg" alt="jon-doe" width="52" height="52"> <span class="blog-post-author">Posted by <a href="" class="posted-by">Admin</a>
                            <date> on March 13, 2017 </date> | 30 Comments</span>
                    </div>
                    <hr>
                </li>
                <li>
                    <h3>
                        <a href="#/blog/threads">Best Places To Start Learning</a>
                    </h3>
                    <div class="blog-post-details">
                        <img src="./images/johnDoe.jpg" alt="jon-doe" width="52" height="52"> <span class="blog-post-author">Posted by <a href="" class="posted-by">Admin</a>
                            <date> on March 13, 2017 </date> | 30 Comments</span>
                    </div>
                    <hr>
                </li>
                <li>
                    <h3>
                        <a href="#/blog/threads">Snowboard Tricks for Advance.</a>
                    </h3>
                    <div class="blog-post-details">
                        <img src="./images/johnDoe.jpg" alt="jon-doe" width="52" height="52"> <span class="blog-post-author">Posted by <a href="" class="posted-by">Admin</a>
                            <date> on March 13, 2017 </date> | 30 Comments</span>
                    </div>
                    <hr>
                </li>
            </ul>
        </section>
        <aside class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
            <div class="col-lg-12  col-md-12 col-sm-4 col-xs-12">
                <ul>
                    <h3 class="text-left">From The Blog</h3>
                    <div>
                        <li class="text-left"><a href=""><span>Snowboard tricks</span></a></li>
                        <li class="text-left"><a href=""><span>How to hip jumps</span></a></li>
                        <li class="text-left"><a href=""><span>Garet T. interview</span></a></li>
                        <li class="text-left"><a href=""><span>Best for begginers</span></a></li>
                        <li class="text-left"><a href=""><span>From zero to GoPro</span></a></li>
                        <li class="text-left"><a href=""><span>10 gajets under 50$</span></a></li>
                    </div>
                </ul>
            </div>
            <div class="col-lg-12  col-md-12 col-sm-4 col-xs-12">
                <ul>
                    <h3 class="text-left">Archives</h3>
                    <div>
                        <li class="text-left"><a href=""><span>Snowboard tricks</span></a></li>
                        <li class="text-left"><a href=""><span>How to hip jumps</span></a></li>
                        <li class="text-left"><a href=""><span>Garet T. interview</span></a></li>
                        <li class="text-left"><a href=""><span>Best for begginers</span></a></li>
                        <li class="text-left"><a href=""><span>From zero to GoPro</span></a></li>
                        <li class="text-left"><a href=""><span>10 gajets under 50$</span></a></li>
                    </div>
                </ul>
            </div>
            <div class="col-lg-12  col-md-12 col-sm-4 col-xs-12">
                <ul>
                    <h3 class="text-left">Recent Post</h3>
                    <div>
                        <li class="text-left"><a href=""><span>Snowboard tricks</span></a></li>
                        <li class="text-left"><a href=""><span>How to hip jumps</span></a></li>
                        <li class="text-left"><a href=""><span>Garet T. interview</span></a></li>
                        <li class="text-left"><a href=""><span>Best for begginers</span></a></li>
                        <li class="text-left"><a href=""><span>From zero to GoPro</span></a></li>
                        <li class="text-left"><a href=""><span>10 gajets under 50$</span></a></li>
                    </div>
                </ul>
            </div>
        </aside>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-offset-7 col-md-offset-7 col-sm-offset-6 col-xs-offset-5">
            <ul class="page-pagination">
                <li class="selected"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div>
    </div>
</div>